@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Orelega+One&display=swap');

.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1200px;
    min-height: 100vh;
    height: fit-content;
    background-color: purple;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas:
            "h h"
            "n c";
}

.app-wrapper-content {
    grid-area: c;
    background-color: lawngreen;
    height: fit-content;
}